/***************
  	ANIMATIONS
 ***************/

@keyframes tilt {

	25% {
		transform: rotate(90deg);
	}

	50% {
		transform: rotate(0);
	}

	75% {
		transform: rotate(-90deg);
	}

	100% {
		transform: rotate(0);

	}
}

/***************
  HEADER PIC
 ***************/

.deskfull  {
	width: 80%;
	margin: 10px 10% 0 10%;
	position: absolute;
	z-index: -1;
	border-radius: 10px;
	opacity: 0;
}

.mobiledesk  {
	width: 80%;
	margin: 10px 10% 0 10%;
	position: absolute;
	z-index: -1;
	border-radius: 10px;
	opacity: 1;
}

/***************
  	BIRDS
 ***************/

.contactbirds {
	width: 80%;
	margin: 300px 10% 0 10%;
}

/***************
  	MAIN
 ***************/

.box {
	width: 100%;
	margin: 50px 0 0 0;
	border-radius: 10px;
	background: #fff;
	border: 20px solid #def3e9;
	padding: 5px;
}

.box h1, .box h2{
	text-align: center;
}

.box h2 {
	font-weight: 300;
	margin-bottom: 100px;
}

.box li {
	width: 105%;
	margin-left:-10%;
	text-align: left;
}

.box img, .box .text {
	display: inline-block;
}

.box img {
	margin: -20px 0 -20px 0;
}

.box img:hover {
	animation: tilt 1.5s ease-in-out backwards;
	transform-origin: center;
}

.text {
	margin-bottom: 70px;
}

.contactbirds2 {
	width:80%;
	margin: 40px 10% 0 10%;
}

/***************
  	FORM
 ***************/

 #form-messages {
 	border: 20px solid #def3e9;
 	text-align: center;
 	width: 60%;
 	margin: 40px 20%;
 	border-radius: 10px;
 	font-size: 2em;
 	padding: 40px;
 }

 #form h1 {
 	text-align: center;
 	font-size: 3.5em;
 	margin-bottom: 40px;
 }

#form {
  background: #fff;
  padding: 20px;
  width: 100%;
  margin: 40px 0 0 0;
  border-radius: 10px;
  border: 20px solid #def3e9;
}

p {
  margin: 0 0 3em 0;
  position: relative;
}

label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
}

input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 5px;
}

textarea {
	height: 300px;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  background: #fff
}

span {
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  background: #aab6bd;
  left: 105%;
  top: 25px;
  width: 160px;
  padding: 7px 10px;
  color: #fff;
}

span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #aab6bd;
  border-width: 8px;
  margin-top: -8px;
}

input[type="submit"] {
  background: #aab6bd;
  box-shadow: 0 3px 0 0 #8f999f;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #8f999f;

}

span {
	display: none;
}

@media (min-width: 550px) {

	/***************
  		BIRDS
 	***************/
	.contactbirds {
		margin-top: 375px;
	}

	/***************
  		MAIN
 	***************/

	.box {
		padding: 10px;
	}

	.box img {
		margin-right: 20px;
	}

	.box li {
		margin-left: 0;
		font-size: 1.2em;
	}
}

@media (min-width: 768px) {


	/***************
  	  HEADER PIC
 	***************/

	.deskfull {
		margin-top: -5px;
		opacity: 1;
	}

	.mobiledesk {
		opacity: 0;
	}

	/***************
  		BIRDS
 	***************/

	.contactbirds {
		margin-top: 300px;
	}

	/***************
  		MAIN
 	***************/

	.box {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.box li {
		margin-left: 25%;
	}

	.box img {
		margin-right: 40px;
	}

	#form {
		width: 60%;
		margin: 40px auto 0 auto;
	}

	span {
		display: inline-block;
	}

}

@media (min-width:850px) {

	.contactbirds {
		margin-top: 350px;
	}
}

@media (min-width: 950px) {

	.contactbirds {
		margin-top: 400px;
	}
}

@media (min-width: 1024px) {

	/***************
  		HEADER PIC
 	***************/

	.deskfull {
		margin-top: 0;
	}

	/***************
  		MAIN
 	***************/

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}

	.text {
		font-size: 1.4em;
	}

}

@media (min-width: 1200px) {

	/***************
  		BIRDS
	 ***************/
	.contactbirds {
		margin-top: 450px;
	}
}

@media (min-width: 1500px) {
	.contactbirds {
		margin-top: 550px;
	}
}