#postbox {
	width: 100%;
	border: 20px solid #def3e9;
	border-radius: 10px;
	padding: 20px;

}

.posttext {
	width: 100%;
	text-align: center;
}

.posttext li {
	margin-top: 40px;
	margin-left: -30px;
}


.codepen {
	width: 100%;
	margin-top: 40px;
}

.posttext h3 {
	font-weight: 300;
}

#flickrbox {
	width: 100%;
	margin: 40px 0;
	border: 20px solid #def3e9;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}

#flickrbox h2 {
	font-size: 1.5em;
	font-weight: 300;
}

#flickrbox input[type="search"] {
	font-size: 1.3em;
	outline: none;
	border: 2px solid #ccc9cb;
	background: #fff;
	height: 40px;
	font-weight: 300;
	width: 100%;
	padding-left: 10px;
}

#flickrbox input[type="submit"] {
	background: #ccc9cb;
	color: #fff;
	border: none;
	width: 100px;
	height: 40px;
	box-shadow: none;
	font-size: 1.2em;
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
}

#photos li {
  display: inline-block;
  border: 10px solid #ccc9cb;
  border-radius: 5px;
  margin-right: 5px;
}

#photos {
	width: 80%;
	margin: 40px 0%;
}


/************

 Bird Issues

*************/


.projectbirds {
	width: 80%;
	margin: 300px 10% 40px 10%;
}

@media (min-width: 500px) {
	.projectbirds {
		margin-top: 375px;
	}
}

@media (min-width: 768px) {

	#flickrbox, #postbox {
		width: 80%;
		margin: 40px 10%;
	}

	#postbox {
		display: flex;
	}

	.posttext {
		flex-grow: 1;
	}

	.posttext li {
		text-align: center;
	}

	.codepen {
		flex-grow: 3;
		margin: 10px 0 0 20px;
	}

	.projectbirds {
		margin-top: 300px;
	}

	input[type="submit"] {
		margin-top: 0;
	}

	input[type="search"] {
		width: 80%;
	}

	#photos {
		margin: 40px 10%;
	}
}

@media (min-width: 1024px) {
	.projectbirds {
		margin-top: 350px;
	}

	input[type="search"] {
		border-radius: 5px;
	}
}

@media (min-width: 1300px) {
	.projectbirds {
		margin-top: 400px;
	}
}
