#flickrbox {
	width: 80%;
	margin: 40px 10% 40px 10%;
	border: 20px solid #def3e9;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}

#flickrbox h2 {
	font-size: 1.5em;
	font-weight: 300;
}

#flickrbox input[type="search"] {
	font-size: 1.3em;
	outline: none;
	border: 2px solid #ccc9cb;
	border-radius: 5px;
	background: #fff;
	height: 40px;
	font-weight: 300;
	width: 40%;
	padding-left: 10px;
}

#flickrbox input[type="submit"] {
	background: #ccc9cb;
	color: #fff;
	border: none;
	width: 100px;
	height: 40px;
	box-shadow: none;
	font-size: 1.5em;
	border-radius: 5px;
	outline: none;
}

#photos li {
  display: inline-block;
  border: 10px solid #ccc9cb;
  border-radius: 5px;
  margin-right: 5px;
}




/************

 Bird Issues

*************/


.projectbirds {
	width: 80%;
	margin: 300px 10% 40px 10%;
}

@media (min-width: 500px) {
	.projectbirds {
		margin-top: 375px;
	}

}

@media (min-width: 768px) {

	.projectbirds {
		margin-top: 300px;
	}
}

@media (min-width: 1024px) {
	.projectbirds {
		margin-top: 350px;
	}
}

@media (min-width: 1300px) {
	.projectbirds {
		margin-top: 400px;
	}
}
